.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #000;
    text-align: center;
    &__logo {
      background-image: url("../../../assets/logo.png"); 
      width: 200px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #f9f9f9;
    }
  
    .login-form {
      width: 100%;
      max-width: 400px;
    }
    .full-width {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .register-option {
      margin-top: 20px;
      font-size: 14px;
      color: white;
      a {
        color: #c65f07;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  
  .mdc-button__label, .mat-mdc-raised-button:not(:disabled) {
    color: #c65f07 !important;
  }