<div *ngIf="isDisabled" class="info-message">
  <p>Ya tienes materias registradas. No puedes registrar más materias.</p>
</div>

<div *ngIf="!isDisabled" class="courses-container">
  <h1>Registro de Materias</h1>

  <div class="chip-grid">
    <mat-chip
      *ngFor="let subject of subjects || []"
      (click)="toggleSelection(subject)"
      [class.selected]="isSelected(subject)"
      [disabled]="isDisabledSubject(subject)"
    >
      {{ subject.nombre }}
    </mat-chip>
  </div>

  <button
    mat-raised-button
    color="primary"
    [disabled]="selectedSubjects.length !== 3"
    (click)="onSubmit()"
  >
    Guardar
  </button>
</div>



  