.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    button {
      margin-top: 20px;
    }
  }
  
  .chip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

  }

  mat-chip {
    cursor: pointer;
  }

  mat-chip.selected {
    background-color: #ff9800; 
    color: white;
    font-weight: bold;
  }
  
  