.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    button {
      margin-top: 20px;
    }
  }
  
  .chip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columnas */
    gap: 10px;

  }

  mat-chip {
    cursor: pointer;
  }

  mat-chip.selected {
    background-color: #ff9800; /* Naranja */
    color: white;
    font-weight: bold;
  }
  
  