<mat-accordion>
    <mat-expansion-panel *ngFor="let course of userCourses">
      <mat-expansion-panel-header (click)="getStudents(course.$id)">
        <mat-panel-title>{{ course.materiaNombre }}</mat-panel-title>
        <mat-panel-description>Profesor: {{ course.profesorNombre }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>Otros estudiantes matriculados en esta materia:</p>
      <ul>
        <li *ngFor="let student of courseStudent">
          {{ student.nombre }} {{ student.apellido }}
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
  
  
