<div class="student-list-container">
    <h1>Lista de Estudiantes</h1>
  
   
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar estudiante">
      </mat-form-field>
    </div>
  
   
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{ element.apellido }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Documento </th>
        <td mat-cell *matCellDef="let element"> {{ element.tipoDocumento }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Documento </th>
        <td mat-cell *matCellDef="let element"> {{ element.numeroDocumento }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{ element.correo }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{ element.telefono }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{ element.direccion }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{ element.fechaNacimiento | date: 'shortDate' }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  